@use "../../../styles/variables" as *;

.problem-statements-main-container {
  margin: 2rem $horizontal-margin;
}

@media (max-width: 767px) {
  .problem-statements-main-container {
    margin: 2rem $mobile-horizontal-margin;
  }
}

.main-theme-container {
  position: relative;
  margin: 1rem 0;
  padding: 2rem 4rem;
  background-color: $background-color;
  border-radius: 8px;
  z-index: 0;
}

.main-theme-container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border thickness */
  border-radius: inherit;
  background: linear-gradient(135deg, $glitch-pink, $glitch-blue, $glitch-green);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.themes-layout {
  display: flex;
  flex-direction: column;
}

.theme-card-container {
  position: relative;
  margin: 1rem 0;
  padding: 2rem 4rem;
  background: $background-color;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.theme-card-container:hover {
  background: $background-color;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.9);
}

.theme-card-visible-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.theme-card-icon {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #ffffff;
  padding: 1rem;
}

.theme-card-content {
  font-size: 14px;
}

.theme-card-expand-button:hover {
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.6);
}

.subthemes-layout {
  text-align: left;
}

.subtheme-card-content {
  font-size: 14px;
}
