@use "../../../styles/variables" as *;

.about-container {
  margin: 2rem $horizontal-margin;
}

.about-header {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .about-container {
    margin: 2rem $mobile-horizontal-margin;
  }
}
