@use "../../../styles/variables" as *;

.window-frame-container {
  padding: 1rem;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: $background-color;
  color: white;
  box-shadow: 0 0 0.625rem white;
  width: fit-content;
  display: inline-block;
  transition: all 0.1s;
  transition: background-color 0.2s ease-in;
}

.window-top-bar {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  justify-content: center;
  margin: 0;
  position: relative;
}

.window-top-bar > h1 {
  padding: 0;
  margin: 0 0 0.9rem 0;
}

.window-header {
  text-align: center;
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  padding: 0.2rem;
  width: 25px;
  height: 25px;
  top: 0rem;
  right: 0rem;
}

.close-btn:hover {
  border-color: white;
}

.content-container {
  position: relative;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem;
  display: inline-flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.close-btn:hover {
  border-color: white;
  box-shadow: 0 0 0.625rem white;
  text-shadow: 0 0 0.3125rem white;
}

.close-icon {
  margin: 0;
}

@media (max-width: 767px) {
  .window-frame-container {
    margin: 2rem 2rem;
  }
}