@use "../../styles/variables" as *;

.faqs-container {
  margin: 0 $horizontal-margin;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.faq-window-frame {
  margin: 0;
  width: 28vw;
  text-align: left;
  cursor: pointer;
}

.faq-question {
  margin: 1rem 2rem 1rem 2rem;
  font-size: 1.2rem;
}

.faq-answer {
  margin: 1rem 2rem 1rem 2rem;
}

@media (max-width: 767px) {
  .faqs-container {
    margin: 2rem $mobile-horizontal-margin;
  }
}

@media (max-width: 1280px) {  .faqs-container {
    gap: 2rem;
  }

  .faq-window-frame {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .faq-question {
    font-size: 1rem;
  }
  
  .faq-answer {
    font-size: 0.8rem;
  }
}
