$primary-color: magenta;
$secondary-color: yellow;
$secondary-color2: cyan;

.timeline-header {
    color: $primary-color;
}

.timeline-container {
	margin: 2rem 8rem;
    background: #222;
    border-radius: 8px;
}

.timeline-items{
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 0.5rem;
	height: 100%;
	background-color: $primary-color;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 5px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align: left;
}
.timeline-dot{
	height: 40px;
	width: 40px;
	background-color: $primary-color;
	position: absolute;
	left: calc(50% - 1.05rem);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 20px;
	color: $primary-color;
	margin:6px 0 15px;
    font-weight: 600;
}
.timeline-content{
    background-color: #222;
	border-radius: 5px;
    padding: 0.4rem
}
.timeline-content h3{
    font-size: 14px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 12px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 1.05rem;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
        height: 32px;
	    width: 32px;
		left: 0.27rem;
	}
    .timeline-date{
        font-size: 15px;
        margin-left: 0.4rem;
    }
}