@use "../../styles/variables" as *;

.timeline-container {
  margin: 0 $horizontal-margin;
}

.timeline-container h2 {
  color: #ffffff;
}

.timeline-event-header {
  margin: 0.4rem 0rem 0.4rem 0rem;
  color: #ff00cc;
}

.timeline-event-venue {
  color: #00ffaa;
}

.timeline-event-date {
  color: #ffffff !important;
  opacity: 1 !important;
  text-align: left;
}

.timeline-event-icon {
  color: "#ffffff";
}

.timeline-window-frame {
  margin: 0;
}

@media (max-width: 767px) {
  .timeline-container {
    margin: 2rem;
  }
}
