.timeline-container h2 {
  color: #ffffff;
}

.timeline-event-header {
  margin: 0.4rem 0rem 0.4rem 0rem;
}

.timeline-event-date {
  color: #ffffff !important;
  opacity: 1 !important;
  text-align: left;
}
